@model IEnumerable<LigaTabajara.Models.Classificacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Pontos</th>
            <th>Vitórias</th>
            <th>Empates</th>
            <th>Derrotas</th>
            <th>Gols Pró</th>
            <th>Gols Contra</th>
            <th>Saldo de Gols</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Time.Nome</td>
                <td>@c.Pontos</td>
                <td>@c.Vitorias</td>
                <td>@c.Empates</td>
                <td>@c.Derrotas</td>
                <td>@c.GolsPro</td>
                <td>@c.GolsContra</td>
                <td>@c.SaldoGols</td>
            </tr>
        }
    </tbody>
</table>
