@model IEnumerable<LigaTabajara.Models.Classificacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vitorias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Derrotas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolsPro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolsContra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoGols)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pontos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vitorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Derrotas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolsPro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolsContra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoGols)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
